<form [formGroup]="form">
    <div class="row p-0">
        <div class="mb-3 col-md-4">
            <label for="cep" class="form-label">CEP</label>
            <input formControlName="cep" type="text" class="form-control" id="cep" placeholder="Digite o CEP">
        </div>
        <div class="mb-3 col-md-7">
            <label for="logradouro" class="form-label">Logradouro</label>
            <input formControlName="logradouro" type="text" class="form-control" id="logradouro" placeholder="Logradouro">
        </div>
        <div class="mb-3 col-md-5">
            <label for="bairro" class="form-label">Bairro</label>
            <input formControlName="bairro" type="text" class="form-control" id="bairro" placeholder="Bairro">
        </div>
        <div class="mb-3 col-md-4">
            <label for="cidade" class="form-label">Cidade</label>
            <input formControlName="cidade" type="text" class="form-control" id="cidade" placeholder="Cidade">
        </div>
        <div class="mb-3 col-md-2">
            <label for="estado" class="form-label">Estado</label>
            <input formControlName="estado" type="text" class="form-control" id="estado" placeholder="Estado">
        </div>
        <div class="mb-3 col-md-5">
            <label for="complemento" class="form-label">Complemento</label>
            <input formControlName="complemento" type="text" class="form-control" id="complemento" placeholder="Digite o Complemento">
        </div>
    </div>
</form>